.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 2px;
  font-family: STKaiTi;
  color: #000000;
  font-size: 18px;
  background: #FFFFFF;
  padding: 5px 4px 5px 4px;
  line-height:2;
  text-decoration: none;
}

.btn:hover {
  background: #8E8E8E;
  text-decoration: none;
}

